doctype html
html.home
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title hirofumiyamoto
    link(rel='stylesheet', type='text/css', media='screen', href='css/reset.css')
    link(rel='stylesheet', type='text/css', media='screen', href='css/font-awesome.css')
    link(rel='stylesheet', type='text/css', media='screen', href='css/style.css')
    script(type='text/javascript', src='js/vendor.js')
    script(type='text/javascript', src='js/jquery.onscreen.min.js')
    script(type='text/javascript', src='js/jquery.color.js')
    script(type='text/javascript', src='js/modernizr.custom.js')


  body.home
    section.desc
      .wrapper(style='top: 96px;')
        h1 hirofumimiyamoto
      i.fa.fa-chevron-down.scrollHint
    section.career
      h2 career
      .sectionLv1
        ul.timeline
          li
            p.timeline-date 2011年6月
            .timeline-content
              div
                h3
                  | 音楽関係 アーティスト公式Webサイト構築
                  i.fa.fa-desktop
                p ・デザイン・コーディング・画像作成
                p HTML / CSS / JavaScript(jQuery) / PHP
                p Photoshop / Dreamweaver
                p 要件定義～納品
          li
            p.timeline-date 2011年9月
            .timeline-content
              div
                h3
                  | 音楽関係 アーティスト公式ブログ構築
                  i.fa.fa-desktop
                  i.fa.fa-mobile
                p ・デザイン・コーディング・画像作成
                p HTML5 / CSS3 / JavaScript / PHP
                p WordPress / Photoshop / Dreamweaver / jQuery
                p 要件定義～納品
          li
            p.timeline-date 2012年3月
            .timeline-content
              div
                h3
                  | 結婚式場など複合施設向けWebサイト構築
                  i.fa.fa-desktop
                p ・デザイン ・コーディング ・画像作成
                p HTML5 / CSS3 / JavaScript / PHP
                p WordPress / Photoshop / Dreamweaver / Flash / jQuery
                p 要件定義～納品
          li
            p.timeline-date 2012年5月
            .timeline-content
              div
                h3
                  | ECサイト保守・運用
                  i.fa.fa-desktop
                p ・コーディング ・商品画像作成 ・バナー作成 ・メールマガジン作成
                p XHTML / CSS / JavaScript
                p Photoshop / Dreamweaver / jQuery
                p 保守・運用
          li
            p.timeline-date 2012年8月
            .timeline-content
              div
                h3
                  | スマートフォン用ソーシャルゲーム
                  i.fa.fa-mobile
                p ・UIデザイン ・カードデザイン ・アイコン/ボタン等画像作成 ・ワークフロードキュメント化
                p HTML5 / CSS3 / JavaScript / JSX (Photoshop用Script)
                p Photoshop / Sublime Text 2 / Subversion,Git / Redmine
                p 製造、運用
          li
            p.timeline-date 2013年5月
            .timeline-content
              div
                h3
                  | ファイナンシャルプランナー向け業務用Webアプリ
                  i.fa.fa-desktop
                p ・外部（画面）設計 ・詳細設計 ・製造
                p HTML5 (ejs) / CSS3 (Sass、Compass) / JavaScript (jQuery、Backbone.js、CoffeeScript)
                p Yeoman / Sublime Text 2 / Git
                p 外部設計～製造
          li
            p.timeline-date 2013年11月
            .timeline-content
              div
                h3
                  | 小売業者向け 顧客動向データ可視化Webアプリ
                  i.fa.fa-desktop
                p ・製造
                p JavaScript (D3.js、jQuery) / HTML5 / CSS3 / MySQL / PHP
                p Sublime Text 2 / Eclipse / Git
                p 製造
          li
            p.timeline-date 2014年1月
            .timeline-content
              div
                h3
                  | SPサイト、PCサイト
                  i.fa.fa-desktop
                  i.fa.fa-mobile
                p ・コーディング ・ドキュメント作成
                p HTML5 / CSS3 / JavaScript (jQuery)
                p genecode / Sublime Text 2 / Git / Fireworks
                p 外部設計〜製造
          li
            p.timeline-date 2014年7月
            .timeline-content
              div
                h3
                  | スマートフォン用ソーシャルゲーム
                  i.fa.fa-mobile
                p ・コーディング
                p HTML5 (Velocity) / CSS3 / JavaScript (jQuery、AngularJS、Grunt)
                p Sublime Text 2 / Eclipse / Subversion
                p 製造
    section.skills
      h2 skills & favs
      .sectionLv1
        #toolGraph(style='min-width: 310px; height: 400px; margin: 0 auto;')
      .sectionLv1
        #skillGraph(style='min-width: 310px; height: 400px; margin: 0 auto;')
    section.etc
      h2 etc.
      .content
        .person
          img(src='http://graph.facebook.com/HrfmMymt/picture')
          .txt(style='float: left; margin-left: 1em; width: 70%;')
            | hirofumiyamoto
            br
            a(href='http://hirofumiyamoto.github.io/', style='font-size: 0.8em;', target='_blank') Blog
            | /
            a(href='https://github.com/hirofumiyamoto', style='font-size: 0.8em; line-height: 3.4;', target='_blank') GitHub
            | /
            a(href='http://jsfiddle.net/user/hrfmmymt/fiddles/', style='font-size: 0.8em; line-height: 3.4;', target='_blank') JSFiddle
    .md-modal.md-effect
      .md-content
        h4
          | アーティスト公式Webサイト構築
          i.fa.fa-desktop
        p 静的サイトのデザイン、コーディング、画像作成を行いました。
        p ・使用言語 : HTML、CSS、JavaScript(jQuery)、PHP
        p ・仕様ツール : Photoshop、Dreamweaver
        p
          | トップページはフルスクリーンのYouTubeを背景に設置して自動再生させるサイトデザインで、
          a(href='https://github.com/swfobject/swfobject', target='_blank') swfobject.js
          | というプラグインを使いました。私自身もバンドをやっているので（ベース）自分たちの動画をYouTubeに上げて、このプラグインを使ってtumblrでサイト公開なんてことをしてみたりもしました。（さっさと消しましたが）
        p 懐かしい思い出ですね。
        i.fa.fa-times.fa-3x.md-close
    .md-modal.md-effect
      .md-content
        h4
          | アーティスト公式ブログ構築
          i.fa.fa-desktop
          i.fa.fa-mobile
        p WordPressを用いたブログのデザイン、コーディング、テーマ作成、画像作成を行いました。
        p ・使用言語 : HTML、CSS、JavaScript(jQuery)、PHP
        p ・仕様ツール : WordPress、Photoshop、Dreamweaver
        p WordPressで普通のブログを3人分作りました。Media Queriesによるレスポンシブ対応をしました。
        p WordPress、もう全部忘れました。
        i.fa.fa-times.fa-3x.md-close
    .md-modal.md-effect
      .md-content
        h4
          | 結婚式場など複合施設向けWebサイト構築
          i.fa.fa-desktop
        p WordPressを用いたサイトのデザイン、コーディング、テーマ作成、画像作成を行いました。
        p ・使用言語 : HTML5、CSS3、JavaScript(jQuery)、PHP
        p ・仕様ツール : WordPress、Photoshop、Dreamweaver、Flash
        p ニュース（最新情報）がWordPressによる更新箇所でした。
        p WordPress、もう全部忘(ry
        i.fa.fa-times.fa-3x.md-close
    .md-modal.md-effect
      .md-content
        h4
          | 小売業向けECサイト保守・運用
          i.fa.fa-desktop
        p ECサイトのコーディング、商品画像作成、バナー作成、メールマガジン作成を行いました。
        p ・使用言語 : XHTML、CSS、JavaScript(jQuery)
        p ・仕様ツール : Photoshop、Dreamweaver
        p 自社開発のサイト以外に、Yahoo!ショッピングや楽天市場にも出店しておりそちらの対応も、さらには接客も行いました。
        p どうも、元ショップ店員です。
        i.fa.fa-times.fa-3x.md-close
    .md-modal.md-effect
      .md-content
        h4
          | スマートフォン用ソーシャルゲーム
          i.fa.fa-mobile
        p UIデザイン、カードデザイン、アイコン/ボタン等画像作成、ワークフロードキュメント化を行いました。
        p ・使用言語 : HTML5、CSS3、JavaScript、JSX (Photoshop用Script)
        p ・仕様ツール : Photoshop、Sublime Text 2、Subversion / Git、Redmine
        p
          | デザイン・マークアップ担当として上記作業を行いました。アジャイル開発。ネイティブアプリでiOS / Android 対応。アニメーションなどの動きのある部分はUnity 3Dで、動きがなく更新頻度の高い画面はHTMLで構築していました。
        p
          | 私は主にHTML側と画像作成に従事しておりました。Unityは要素の配置を変えたり、色を変えるなど極々軽微な作業でのみ使用しました。C#でがつがつ開発などはしておりません。
        p スキルの高い技術者と関わった、私にとって一つの転機となった案件だと思います。
        i.fa.fa-times.fa-3x.md-close
    .md-modal.md-effect
      .md-content
        h4
          | ファイナンシャルプランナー向け業務用Webアプリ
          i.fa.fa-desktop
        p 外部（画面）設計、詳細設計、製造を行いました。
        p ・使用言語 : HTML5 (ejs)、CSS3 (Sass、Compass)、JavaScript (Backbone.js、CoffeeScript)
        p ・仕様ツール : Yeoman (generator-backbone)、Sublime Text 2、Git (GitHub)
        p
          | HTMLを用いた大規模Webアプリ開発
          span(style='text-decoration: line-through;') 炎上
          | 案件。
        p 久しぶりにスーツを着ました。設計をアジャイルでするのが楽しかった思い出があります。製造に入ってからはSassることが多くなりました。
        p
          | HTML5絡みの新技術に多く降れ、私自身がフロントエンドエンジニアか何かとして、何かいい感じにがんばっていこうと決心する
          span(style='text-decoration: line-through;') ような気がする雰囲気を醸し出そうとしている気配を漂わせる
          | に至った、これもまた一つの転機となった
          span(style='text-decoration: line-through;') 炎上
          | 案件です。
        i.fa.fa-times.fa-3x.md-close
    .md-modal.md-effect
      .md-content
        h4
          | 小売業者向け 顧客動向データ可視化Webアプリ
          i.fa.fa-desktop
        p 製造を行いました。
        p ・使用言語 : JavaScript (D3.js、jQuery)、HTML5、CSS3、MySQL、PHP
        p ・仕様ツール : Sublime Text 2、Eclipse、Git (Stash)、Confluence (wiki)
        p
          | しんどめな案件でした。テーブルのデータを受け取って、必要であればSQLでテーブルの修正をし、Viewが期待するJSON形式のWeb APIをPHPで生成し、D3.jsで描画するという業務を行いました。ざっくり書くと何かすごいグラフを作ったり、アニメーションする変な図を作ったりしました。
        p D3.jsではSVGを描画するのですが、この案件がきっかけでSVGに少し興味を持つようになりました。
        i.fa.fa-times.fa-3x.md-close
    .md-modal.md-effect
      .md-content
        h4
          | SPサイト、PCサイト
          i.fa.fa-desktop
          i.fa.fa-mobile
        p コーディング、ドキュメント作成を行いました。
        p ・使用言語 : HTML5、CSS3、JavaScript (jQuery)
        p ・仕様ツール : genecode、Sublime Text 2、Git (GitBucket)、JIRA (課題管理)、Fireworks
        p
          a(href='http://www.symmetric.co.jp/genecode/function/', target='_blank') genecode (ジーンコード)
          | を用いたスマートフォン用Webサイトの構築を行いました。genecodeについてざっくり書くと、既存のPCサイトの要素を流用して簡単にSPサイトを作ることができるソフトウェア。しかもこれ、PCサイトの変更をSPサイトにも動的に反映できる、でもレスポンシブというわけではないという。
        p 以上、製品説明でした。ほかに某大手企業の製品サイトや人材系Webサービスなども携わりましたが、割愛します。普通の制作です。
        i.fa.fa-times.fa-3x.md-close
    .md-modal.md-effect
      .md-content
        h4
          | スマートフォン用ソーシャルゲーム
          i.fa.fa-mobile
        p コーディングを行いました。
        p ・使用言語 : HTML5 (Velocity)、CSS3、JavaScript (jQuery、AngularJS、Grunt)
        p ・仕様ツール : Sublime Text 2、Eclipse、Subversion
        p
          | ほぼ、動的なUIをJavaScriptコーディングで実装する人と化していました。Angularはディレクティブ、スコープを使用しました。よくやったのはVelocityでDBから値を取ってスコープで変数突っ込んで、DOMの色んなところで使い回すなど。Gruntはファイルのミニファイや何かで使用しました。
        p オブジェクト指向という壁にぶつかりました。現在進行形で。
        i.fa.fa-times.fa-3x.md-close
    section.footer
      | Copyright ©
      script(type='text/javascript')
        myDate = new Date() ;myYear = myDate.getFullYear ();document.write(myYear);
      | hirofumimiyamoto
    .md-overlay.md-close

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52398065-1', 'auto');
      ga('send', 'pageview');

    script(type='text/javascript', src='js/classie.js')
    script(type='text/javascript', src='js/script.js')
    script(type='text/javascript', src='js/modal.js')